@font-face{
    font-family: 'Chewy';
    src: url('../resources/Chewy.ttf');
}

* {
    font-family: Chewy, serif;
    color: white;
    letter-spacing: 0.05em;

    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.subRoot{
    display: flex;
    justify-content: space-evenly;
}

@media only screen and (max-width: 46em) {
    html, body{
        overflow-x: hidden;
    }
}

@media only screen and (max-width: 46em) {
.subRoot{
    flex-wrap:wrap;
    }
}


body{
    background: linear-gradient(to top left, #EF5366, rgba(255, 153, 150, 0), #EF4F97), linear-gradient(to top right, #EF5366, rgba(255, 153, 150, 0), #F89A91) rgba(255, 153, 150, 1);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.body{
    width: 46em;
    margin-left:auto;
    margin-right:auto;
    /* background-color: rgba(255,255,255,0.3); */
}

#navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin: 0;
    justify-content: center;
    width: 100%;
    font-size: 2em;
}

#navbar *{
    padding: 0.7em 1em;
    margin: 0;
    opacity: 1;
}
#navbar *:hover{
    color:#EF5366;
    background-color: white;
}

@media only screen and (max-width: 46em) {
    #navbar *{
        padding: 0.3em 0.5em
    }
}